{% extends 'authentication/base.html' %}
{% block content %}
    <div class="container_login_register">
        <div class="container_register">
            <h2>Inscrivez-vous maintenant</h2>
            <a href="">S'inscrire</a>
        </div>
        <div class="container_login">
            <h2>Connectez-vous</h2>
            <p class="error_msg">{{ message }}</p>
            <form method="post" class="form_login">
                <p>Username :</p>
                {{ form.username }}
                <p>Password :</p>
                {{ form.password }}
                {% csrf_token %}
                <button class="btn_log" type="submit" >Se connecter</button>
            </form>
        </div>
    </div>
{% endblock content %}