{%load static%}

<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'blog/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'blog/ticket.css' %}" />
    </head>
    <body>
        <div class="header">
            <div></div>
            <p class="header_title">LITReview</p>
            <div class="nav">
                <a class="a_nav" href="/flux">Flux</a>
                <a class="a_nav" href="">Posts</a>
                <a class="a_nav" href="">Abonnements</a>
                <a class="a_nav" href="/logout">se déconnecter</a>
            </div>
        </div>
        <div class="container_ticket">
            <h2>Crée un ticket</h2>
            <form method="post" enctype="multipart/form-data">
                {{ form.as_ul }}
                {% csrf_token %}
                <button class="btn_log" type="submit">Crée le ticket</button>
            </form>
        </div>
    </body>
</html>