.container_ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #66FCF1;
}

.form_ticket{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin: auto;
}