{%load static%}

<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'blog/styles.css' %}" />
    </head>
    <body>
        <div class="header">
            <div></div>
            <p class="header_title">LITReview</p>
            <div class="nav">
                <a class="a_nav" href="/flux">Flux</a>
                <a class="a_nav" href="">Posts</a>
                <a class="a_nav" href="">Abonnements</a>
                <a class="a_nav" href="/logout">se déconnecter</a>
            </div>
        </div>
    </body>
</html>