{%load static%}

<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'blog/styles.css' %}" />
    </head>
    <body>
        <div class="header">
            <div class="side_header"></div>
            <p class="header_title">LITReview</p>
            <div class="nav side_header">
                <a class="a_nav" href="/flux">Flux</a>
                <a class="a_nav" href="/post">Posts</a>
                <a class="a_nav" href="/abonnement">Abonnements</a>
                <a class="a_nav" href="/logout">logout</a>
            </div>
            
        </div>
        {% for ticket in tickets %}
                <li>
                    <p>here</p>
                    <strong>{{ ticket.title }}</strong><br>
                    {{ ticket.description }}<br>
                    {% if ticket.image %}
                        <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
                    {% endif %}
                    <br><br>
                </li>
            {% endfor %}
    </body>
</html>