{% extends 'blog/base.html' %}
{%load static%}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'blog/flux.css' %}" />
{% endblock %}

{% block content %}
    <div class="container_flux">
        <h2>Posts</h2>
        <div class="container_post">
            {%if posts%}
                {% for post in posts %}
                    {% if post.content_type == "REVIEW" %}
                        <div class="container_review">
                            <div class="header_review">
                                <p>{{ post.user }} a créé une revue</p>
                                <p>{{ post.time_created }}</p>
                            </div>
                            <h3>{{ post.headline }}</h3>
                            <p>{{ post.body }}</p>
                            <p>note : {{post.rating}}/5</p>
                            <div class="ticket_in_review">
                                <p>Ticket - {{post.ticket.user}}</p>
                                <h4>{{post.ticket.title}}</h4>
                                <p>{{post.ticket.description}}</p>
                                {% if post.ticket.image %}
                                    <a href="/media/{{ post.ticket.image }}"><img class="img_post" src="/media/{{ post.ticket.image }}" /></a>
                                {% endif %}
                            </div>
                            
                        </div>
                    {% else%}
                        <div class="container_ticket">
                            <div class="header_ticket">
                                <p>{{ post.user }} a créé un ticket</p>
                                <p>{{ post.time_created }}</p>
                            </div>
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.description }}</p>
                            {% if post.image %}
                                <a href="/media/{{ post.image }}"><img class="img_post" src="/media/{{ post.image }}" /></a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {%else%}
                <h2 class="mange_curly">Commencez a suivre des personnes pour voir des revues</h2>
            {%endif%}
        </div>
    </div>
{% endblock %}
       
