{% extends 'blog/base.html' %}
{%load static%}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'blog/modify.css' %}" />
{% endblock %}
{% block content %}
    {% if request.GET.type == "TICKET" %}
    <div class="container_modif">
        <h2>Modification Ticket</h2>
        <form method="post" class="form_ticket" enctype="multipart/form-data">
            <p>Title :</p>
            {{ ticket_form.title }}
            <p>Description :</p>
            {{ ticket_form.description }}
            {% if ticket.image %}
            <img class="img_modif" src="/media/{{ticket.image}}"/>
            {%endif%}
            <p>Image :</p>
            {{ ticket_form.image }}
            {% csrf_token %}
            <br>
            <button class="btn_log" type="submit">Modifier le ticket</button>
        </form>
    </div>
    {% elif request.GET.type == "REVIEW" %}
    <div class="container_modif">
        <h2>Modification Revue</h2>
        <div class="container_rep_tic">
            <div class="rep_tick">
                <p>en reponse a :</p>
                <p>{{review.ticket.user}}</p>
                <h4>{{review.ticket.title}}</h4>
                <p>{{review.ticket.description}}</p>
                {%if review.ticket.image%}
                <img class="img_ticket" src="/media/{{review.ticket.image}}" />
                {%endif%}
            </div>
            <form method="post" class="rev_form">
                <p>Titre de la revue : </p>
                {{review_form.headline}}
                <p>Contenue de la revue : </p>
                {{ review_form.body }}
                <p>Notes (0-5)</p>
                <div class="container_radio">
                    {% for radio in review_form.rating %}
                        {{ radio }}
                        {{ forloop.counter0 }}
                    {% endfor %}
                </div>
                
                {% csrf_token %}
                <input type="submit" class="btn_log" value="Create Review">
            </form>
    </div>
    {% endif %}
{% endblock %}