{% extends 'blog/base.html' %}
{%load static%}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'blog/review.css' %}" />
{% endblock %}
{% block content %}
<div class="container_rev">
    <h2>Create a Review</h2>
    <form method="post" class="rev_form" enctype="multipart/form-data">
        <p>Titre de l'article :</p>
        {{ ticket_form.title }}
        <p>Description de l'article :</p>
        {{ ticket_form.description }}
        <p>Image de l'article :</p>
        {{ ticket_form.image }}
        <p>Titre de la revue : </p>
        {{review_form.headline}}
        <p>Contenue de la revue : </p>
        {{ review_form.body }}
        <p>Notes (0-5)</p>
        <div class="container_radio">
            {% for radio in review_form.rating %}
                {{ radio }}
                {{ forloop.counter0 }}
            {% endfor %}
        </div>
        
        {% csrf_token %}
        <input type="submit" class="btn_log" value="Create Review">
    </form>
</div>

{% endblock %}